
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

nav{

    font-family: 'Stylish', sans-serif;
    font-size: 2.5em;
}

nav ul{
    margin-top: 60px;
   margin-left: 60px;
}

nav ul a:hover{
    color: deeppink !important;
}

.active-now {
    color: #efe86e !important;
}

.background{
    background-image: url("images/site-background.jpg"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100%; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


 .search {
    margin-top: 50px;
    background-color: white;
    height: 120px;
    width: 850px;
    border-radius: 45px;
  }

  .search form{
     
  }
  
 .search input {
    border-width: 0;
    font-style: italic;
    width: 70%
  }

  .search .s-button {
    border: none;
    background: transparent;
    outline: none;
    font-size: 1.5em;
  }
  
 .search .line {
    background-color: rgb(204, 204, 204);
    opacity: 0.502;
    width: 77%;
    height: 1px
  }

  .search p{
      margin-left: 40px;
      margin-top: 10px;
      color: #b8a9b7;
  }

  .s-form{
     
      margin-left: 50px;
  }

.dropdown-menu{
    min-width: 14rem;
}

.dropdown-menu .dropdown-item{
font-size: 1.5em !important;
}

.movie-card{
  margin: 20px 0 0 20px;

}

.movie-img{
  height: 300px;
}
